<div class="modal fade" id="what-is-line-notify-modal" tabindex="-1" role="dialog" aria-labelledby="sendMessageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">LINEでお知らせとは</div>
      <div class="modal-body">
        <p>以前参加したことのある人たちに参加者用のLINEBotから活動があることをお知らせします。<br />
          活動の一週間前にお知らせは自動で送られます。</p>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
  <div>
