/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

table.table.show th {
  width: 20%;
}

table.table.show td {
  width: 80%;
}

svg.icon_content .st0 {
  fill: #1587CA !important;
}

div.chat.recently {
  color: gray;
}
