<% if chat.speaker == chat.application.activity.circle.owner %>
  <div class="clearfix chat-body circle">
    <%= chat.body %>
  </div>
<% else %>
  <div class="clearfix chat-body user">
    <%= chat.body %>
  </div>
<% end %>